<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/dependencies/bootstrap/bootstrap.rtl.css" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="width-container">
      <h1 class="my-5">ورود</h1>
      <div class="box-container">
        <div class="box-massage"><%= message %></div>
        <form action="/auth/signup" method="post">
          <input type="text" name="username" />
          <input type="text" name="email" />
          <input type="text" name="password" />
          <button type="submit">submit</button>
        </form>
      </div>
    </div>

    <script src="/dependencies/bootstrap/bootstrap.bundle.js"></script>
  </body>
</html>
